STREAM_URL=http://raspberrypi.local:5000/video_feed
SPRING_URL=http://localhost:8080
AI_PORT=8000
CONFIDENCE_THRESHOLD=0.75
SUSTAINED_FRAMES=5
COOLDOWN_SECONDS=60
FRAME_SKIP=5
SNAPSHOTS_DIR=./snapshots
